* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: aquamarine;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    position: relative;
    font-size: 80px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 50px;
}