* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: aquamarine;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    position: relative;
    font-size: 80px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    position: relative;
    font-size: small;
}